.h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}
.background {
  background-image: url('https://cdn.wallpapersafari.com/85/38/hCjxDm.jpg');
  background-size: cover;
  
  
  
  height: 100vh;
  padding:0;
  margin:0;
}
.color {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #000000;
}
.name {
  color: rgb(12, 237, 23);
}
.font {
  font-size: x-large;
  font-family:
  src: url(sansation_light.woff);
}